.textArea{
    margin: 2rem;
    width: 20rem;
    height: 5rem;
    border-radius: .3rem ;
    font-family: 'Times New Roman', Times, serif;
}


.errMsg{
    font-family: 'Times New Roman', Times, serif;
    color: red;
    margin: 1rem;
}

/* .backGroundUpload{
    background-color: #ebebeb;
} */